[Unit]
Description=Start DHCLIENT for use with IWD

[Service]
Type=simple
ExecStart=/usr/sbin/dhclient -w
Restart=on-failure
PIDFile=/tmp/dhclient-service.pid

[Install]
WantedBy=multi-user.target

